html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Bebas';
}

@font-face {
  font-family: Bebas;
  src: url("Bebas-Regular.otf") format("opentype");
}

.fade-in {
  animation: fadeIn 0.3s;
}

.fade-out {
  animation: fadeOut 0.3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#ct-container {
  height: 800px;
  width: 100%;
  margin: 0;
}

.play-controls {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.main-presentation {
  width: 100%;
  height: 200px;
  border: 1px solid #eeeeee;
}

.intro-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.intro-text div {
  width: 100%;
  text-align: center;
}

.subtitles-div {
  width: 100%;
  height: 1.2em;
}

.progress-bar-container {
  width: 100%;
  height: 1.2em;
  border: 1px solid #004400;
  cursor: pointer;
}

.progress-bar {
  background-color: #00ee22;
}

.play-controls button {
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.play-controls button:hover {
  border: 1px solid black;
  background-color: #ffffdd;
  cursor: pointer;
}

.play-controls button:active {
  border: 1px solid black;
  background-color: #ffffaa;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}