<div id="main">
  <div data-selector-container="true"></div>
  <h1 id="main-title"></h1>
  <div class="main-presentation"></div>
  <div class="footer">
    <div id="subtitles" class="subtitles-div"></div>
    <div class="progress-bar-container">
      <div id="progress" class="progress-bar">
        <div id="progress-text"></div>
      </div>
    </div>
    <div class="play-controls">
      <button type="button" data-id="rewind" title="Rewind">&lt;&lt;</button>
      <button type="button" data-id="play" title="Play">&gt;</button>
      <button type="button" data-id="pause" title="Stop">|</button>
    </div>
  </div>
  </div>
