/* examples/requestanimationframe/src/css/test.css */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Bebas";
}
@font-face {
  font-family: Bebas;
  src: url(./Bebas-Regular-F5Z2F6S6.otf) format("opentype");
}
#ct-container {
  height: 800px;
  width: 100%;
  margin: 0;
}
.play-controls {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}
.main-presentation {
  width: 100%;
  height: 500px;
  border: 1px solid #eeeeee;
}
.main-title-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.main-title-container h1 h2 {
  display: inline-block;
}
.greeter {
  display: none;
}
.intro-text {
  width: 100%;
  height: 100%;
}
.intro-text div {
  text-align: center;
  height: 0;
}
.intro2-text {
  position: relative;
  top: 20%;
}
.intro3-text {
  position: relative;
  top: 40%;
}
.intro4-text {
  position: relative;
  top: 40%;
}
.intro5-text {
  position: relative;
  top: 60%;
}
.bigger-intro {
  font-size: 1.2em;
}
.input-container {
  height: 100% !important;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.subtitles-div {
  width: 100%;
  height: 1.2em;
}
.progress-bar-container {
  width: 100%;
  height: 1.2em;
  border: 1px solid #004400;
  cursor: pointer;
}
.progress-bar {
  background-color: #00ee22;
}
.play-controls button {
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.play-controls button:hover {
  border: 1px solid black;
  background-color: #ffffdd;
  cursor: pointer;
}
.play-controls button:active {
  border: 1px solid black;
  background-color: #ffffaa;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.center-and-grow {
  animation: growth 3s;
  animation-fill-mode: backwards;
  font-size: 4rem;
}
@keyframes growth {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 4rem;
  }
}
.fade-in {
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
